.links-container-links-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.links-container-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.links-container-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.links-container-link2 {
  text-decoration: none;
}
@media(max-width: 1200px) {
  .links-container-links-container {
    background-color: #000000;
  }
  .links-container-link {
    color: #ffffff;
  }
  .links-container-link1 {
    color: #ffffff;
  }
  .links-container-link2 {
    color: #ffffff;
  }
}

.contact-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-m-e-n-u-b-a-r {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.contact-h-e-a-d-e-r {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.contact-menu-gauche {
  width: 25%;
  height: 94px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-container1 {
  width: 100%;
  height: 138px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.contact-icon {
  width: 36px;
  height: 36px;
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.contact-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.contact-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-icon02 {
  width: 24px;
  height: 24px;
}
.contact-links-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: 3%;
  flex-direction: row;
  justify-content: center;
}
.contact-link {
  color: #ffffff;
  margin-right: var(--dl-space-space-tripleunit);
}
.contact-link1 {
  color: #fdfdfd;
}
.contact-l-i-g-n-e {
  flex: 0 0 auto;
  width: 80%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: stretch;
  margin-left: 3%;
  padding-top: 0px;
  padding-left: 3%;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #f5f1f1;
}
.contact-menu-droite {
  top: 0px;
  right: 0px;
  width: 25%;
  height: 94px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-container3 {
  width: 100%;
  height: 138px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-links-container1 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: 3%;
  flex-direction: row;
  justify-content: center;
}
.contact-navlink {
  color: #ffffff;
  padding: 0px;
  text-decoration: none;
  background-color: #000000;
}
.contact-l-i-g-n-e1 {
  flex: 0 0 auto;
  width: 30%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: stretch;
  margin-left: 3%;
  padding-top: 0px;
  padding-left: 3%;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #f5f1f1;
}
.contact-navlink1 {
  display: contents;
}
.contact-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.contact-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-m-a-i-n {
  width: 100%;
  height: 910px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 0%;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.contact-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-subscribe {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.contact-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0a0a0a;
}
.contact-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.contact-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-icon06 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.contact-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-link2 {
  fill: #ffffff;
  color: #ffffff;
}
@media(max-width: 1600px) {
  .contact-menu-gauche {
    width: 25%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .contact-links-container {
    position: relative;
    align-self: flex-start;
  }
  .contact-l-i-g-n-e {
    left: 0px;
    width: 100%;
    align-self: stretch;
  }
  .contact-menu-droite {
    width: 25%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .contact-links-container1 {
    position: relative;
    align-self: flex-start;
  }
  .contact-l-i-g-n-e1 {
    left: 0px;
    width: 30%;
    align-self: stretch;
  }
  .contact-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 5%;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .contact-m-a-i-n {
    flex: 0 0 auto;
  }
}
@media(max-width: 1200px) {
  .contact-menu-gauche {
    width: 50%;
  }
  .contact-l-i-g-n-e {
    width: 50%;
  }
  .contact-menu-droite {
    right: 0px;
    width: 25%;
    justify-content: flex-end;
  }
}
@media(max-width: 991px) {
  .contact-menu-gauche {
    width: 50%;
  }
  .contact-container1 {
    width: 990px;
  }
  .contact-menu-droite {
    width: 25%;
  }
  .contact-container3 {
    width: 990px;
  }
  .contact-l-i-g-n-e1 {
    width: 70%;
  }
}
@media(max-width: 767px) {
  .contact-menu-gauche {
    width: 100%;
    position: relative;
  }
  .contact-container1 {
    width: 766px;
  }
  .contact-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: 4%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .contact-icon {
    fill: var(--dl-color-gray-white);
  }
  .contact-links-container {
    display: none;
  }
  .contact-menu-droite {
    width: 100%;
    position: relative;
  }
  .contact-container3 {
    width: 766px;
  }
  .contact-links-container1 {
    display: none;
  }
  .contact-m-a-i-n {
    position: 0px;
    align-self: center;
    justify-content: flex-start;
  }
  .contact-subscribe {
    flex-direction: column;
  }
}
@media(max-width: 320px) {
  .contact-menu-gauche {
    width: 100%;
    height: 85px;
    align-self: flex-start;
    padding-right: 0px;
  }
  .contact-container1 {
    width: 478px;
    height: 100%;
    position: relative;
  }
  .contact-burger-menu {
    margin-left: 4%;
  }
  .contact-mobile-menu {
    top: 0px;
    left: 0px;
    position: absolute;
    align-self: flex-start;
  }
  .contact-l-i-g-n-e {
    width: 90%;
    padding-left: 10%;
  }
  .contact-menu-droite {
    top: 0px;
    left: 0px;
    width: 0%;
    position: absolute;
    align-self: center;
    padding-right: 0px;
  }
  .contact-container3 {
    width: 478px;
    position: relative;
  }
  .contact-l-i-g-n-e1 {
    width: 50%;
    padding-left: 10%;
  }
  .contact-image {
    width: 10%;
  }
  .contact-m-a-i-n {
    align-items: center;
    padding-top: 0%;
    justify-content: center;
  }
  .contact-footer {
    position: relative;
  }
  .contact-copyright-container {
    top: 0px;
    right: 0px;
    width: 50%;
    bottom: 0px;
    margin: auto;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
  }
  .contact-icon08 {
    align-self: center;
    margin-right: 5%;
  }
}
