.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-m-e-n-u-b-a-r {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.home-h-e-a-d-e-r {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.home-menu-gauche {
  width: 25%;
  height: 94px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container1 {
  width: 100%;
  height: 138px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link1 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link2 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-links-container1 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: 3%;
  flex-direction: row;
  justify-content: center;
}
.home-link4 {
  color: #ffffff;
  margin-right: var(--dl-space-space-tripleunit);
}
.home-link5 {
  color: #fdfdfd;
}
.home-l-i-g-n-e {
  flex: 0 0 auto;
  width: 80%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: stretch;
  margin-left: 3%;
  padding-top: 0px;
  padding-left: 3%;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #f5f1f1;
}
.home-menu-droite {
  top: 0px;
  right: 0px;
  width: 25%;
  height: 94px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container3 {
  width: 100%;
  height: 138px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-links-container2 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: 3%;
  flex-direction: row;
  justify-content: center;
}
.home-link6 {
  color: #ffffff;
  padding: 0px;
  text-decoration: none;
  background-color: #000000;
}
.home-l-i-g-n-e1 {
  flex: 0 0 auto;
  width: 30%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: stretch;
  margin-left: 3%;
  padding-top: 0px;
  padding-left: 3%;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #f5f1f1;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-l-o-g-o-c-o-n-t-a-i-n-e-r {
  width: 100%;
  height: 910px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.home-s-o-u-s-t-i-t-r-e {
  width: 25%;
  height: 0px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: 0%;
  padding-left: 0.5%;
  justify-content: flex-start;
}
.home-text-1 {
  color: #f5f4f4;
  width: 100%;
  align-self: flex-start;
  text-align: justify;
  padding-top: 0%;
  padding-left: 4%;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.home-l-o-g-o {
  width: 735px;
  height: 710px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading1 {
  color: #ffffff;
  width: 722px;
  height: 107px;
  text-align: center;
}
.home-image {
  width: 100%;
  height: 478px;
  object-fit: cover;
  padding-top: 2%;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-d-e-f-i-n-i-t-i-o-n {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container4 {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 25%;
  height: 100px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: flex-start;
  justify-content: flex-end;
}
.home-image1 {
  width: 45px;
  height: 43px;
  object-fit: cover;
}
.home-d-e-f {
  color: #f5f4f4;
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  align-self: flex-start;
  text-align: justify;
  padding-top: 1%;
  padding-left: 4%;
}
.home-p-r-o-j-e-c-t-s-1 {
  flex: 0 0 auto;
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: #000000;
}
.home-l-i-q-u-i-d-p-a-i-n-t {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  height: 500px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-image2 {
  width: 75%;
  height: 500px;
  align-self: center;
  object-fit: cover;
}
.home-container5 {
  width: 75%;
  height: 49px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
}
.home-text07 {
  color: #ffffff;
}
.home-text08 {
  top: 0px;
  color: #ffffff;
  right: 0px;
  position: absolute;
}
.home-o-r-a-g-e {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  height: 500px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image3 {
  width: 75%;
  height: 500px;
  align-self: center;
  object-fit: cover;
}
.home-container6 {
  width: 75%;
  height: 49px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
}
.home-text09 {
  color: #ffffff;
}
.home-text10 {
  top: 0px;
  color: #ffffff;
  right: 0px;
  position: absolute;
}
.home-p-r-o-j-e-c-t-s-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: #000000;
}
.home-m-a-p-p-i-n-g-f-a-c-a-d-e {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  height: 500px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-image4 {
  width: 75%;
  height: 500px;
  align-self: center;
  object-fit: cover;
}
.home-container7 {
  width: 75%;
  height: 49px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
}
.home-text11 {
  color: #ffffff;
}
.home-text12 {
  top: 0px;
  color: #ffffff;
  right: 0px;
  position: absolute;
}
.home-l-s-d {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  height: 500px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image5 {
  width: 75%;
  height: 500px;
  align-self: center;
  object-fit: cover;
}
.home-container8 {
  width: 75%;
  height: 49px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-end;
}
.home-text13 {
  color: #ffffff;
  align-self: flex-end;
}
.home-text14 {
  color: #ffffff;
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-subscribe {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0a0a0a;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon06 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-link7 {
  fill: #ffffff;
  color: #ffffff;
}
@media(max-width: 1600px) {
  .home-menu-gauche {
    width: 25%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-links-container1 {
    position: relative;
    align-self: flex-start;
  }
  .home-l-i-g-n-e {
    left: 0px;
    width: 100%;
    align-self: stretch;
  }
  .home-menu-droite {
    width: 25%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-links-container2 {
    position: relative;
    align-self: flex-start;
  }
  .home-l-i-g-n-e1 {
    left: 0px;
    width: 30%;
    align-self: stretch;
  }
  .home-l-o-g-o-c-o-n-t-a-i-n-e-r {
    flex: 0 0 auto;
  }
  .home-s-o-u-s-t-i-t-r-e {
    left: 3%;
    align-self: flex-start;
    padding-left: 1%;
  }
  .home-text-1 {
    padding-left: 0%;
  }
  .home-l-o-g-o {
    position: static;
    align-self: center;
  }
  .home-d-e-f {
    padding-left: 0%;
  }
}
@media(max-width: 1200px) {
  .home-menu-gauche {
    width: 50%;
  }
  .home-l-i-g-n-e {
    width: 50%;
  }
  .home-menu-droite {
    right: 0px;
    width: 25%;
    justify-content: flex-end;
  }
  .home-s-o-u-s-t-i-t-r-e {
    height: 100px;
  }
  .home-text-1 {
    align-self: center;
  }
  .home-l-o-g-o {
    align-self: center;
  }
  .home-container4 {
    width: 30%;
  }
}
@media(max-width: 991px) {
  .home-menu-gauche {
    width: 50%;
  }
  .home-container1 {
    width: 990px;
  }
  .home-heading {
    text-align: center;
  }
  .home-menu-droite {
    width: 25%;
  }
  .home-container3 {
    width: 990px;
  }
  .home-l-i-g-n-e1 {
    width: 70%;
  }
  .home-container4 {
    width: 50%;
  }
  .home-p-r-o-j-e-c-t-s-1 {
    height: 125vw;
    padding-top: 5%;
  }
  .home-l-i-q-u-i-d-p-a-i-n-t {
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    align-self: flex-start;
  }
  .home-image2 {
    height: auto;
  }
  .home-o-r-a-g-e {
    width: 100%;
    position: static;
    align-self: flex-end;
    padding-bottom: 60%;
  }
  .home-image3 {
    height: auto;
  }
  .home-p-r-o-j-e-c-t-s-2 {
    height: 125vw;
    padding-top: 5%;
  }
  .home-m-a-p-p-i-n-g-f-a-c-a-d-e {
    top: 0px;
    width: 100%;
  }
  .home-image4 {
    height: auto;
  }
  .home-l-s-d {
    width: 100%;
    position: static;
    align-self: flex-end;
    padding-bottom: 60%;
  }
  .home-image5 {
    height: auto;
  }
}
@media(max-width: 767px) {
  .home-menu-gauche {
    width: 100%;
    position: relative;
  }
  .home-container1 {
    width: 766px;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: 4%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon {
    fill: var(--dl-color-gray-white);
  }
  .home-links-container1 {
    display: none;
  }
  .home-menu-droite {
    width: 100%;
    position: relative;
  }
  .home-container3 {
    width: 766px;
  }
  .home-links-container2 {
    display: none;
  }
  .home-l-o-g-o-c-o-n-t-a-i-n-e-r {
    position: 0px;
    align-self: center;
    justify-content: flex-start;
  }
  .home-s-o-u-s-t-i-t-r-e {
    width: 381px;
    padding-left: 5%;
  }
  .home-l-o-g-o {
    width: 100%;
    height: 954px;
  }
  .home-heading1 {
    width: 100%;
  }
  .home-image {
    width: 348px;
  }
  .home-d-e-f-i-n-i-t-i-o-n {
    width: 90%;
    align-self: center;
  }
  .home-container4 {
    width: 100%;
  }
  .home-p-r-o-j-e-c-t-s-1 {
    width: 100%;
    height: 125vw;
  }
  .home-l-i-q-u-i-d-p-a-i-n-t {
    width: 100%;
    height: 50%;
  }
  .home-o-r-a-g-e {
    width: 100%;
    height: 50%;
    align-self: flex-end;
    padding-bottom: 0%;
  }
  .home-p-r-o-j-e-c-t-s-2 {
    flex: 0 0 auto;
    height: 125vw;
  }
  .home-m-a-p-p-i-n-g-f-a-c-a-d-e {
    width: 100%;
    height: auto;
  }
  .home-l-s-d {
    width: 100%;
    height: auto;
    padding-bottom: 0%;
  }
  .home-subscribe {
    flex-direction: column;
  }
}
@media(max-width: 320px) {
  .home-menu-gauche {
    width: 100%;
    align-self: flex-start;
    padding-right: 0px;
  }
  .home-container1 {
    width: 478px;
    position: relative;
  }
  .home-burger-menu {
    margin-left: 4%;
  }
  .home-mobile-menu {
    top: 0px;
    left: 0px;
    position: absolute;
    align-self: flex-start;
  }
  .home-l-i-g-n-e {
    width: 90%;
    padding-left: 10%;
  }
  .home-menu-droite {
    top: 0px;
    left: 0px;
    width: 0%;
    position: absolute;
    align-self: center;
    padding-right: 0px;
  }
  .home-container3 {
    width: 478px;
    position: relative;
  }
  .home-l-i-g-n-e1 {
    width: 50%;
    padding-left: 10%;
  }
  .home-l-o-g-o-c-o-n-t-a-i-n-e-r {
    align-items: center;
    padding-top: 0%;
    justify-content: center;
  }
  .home-s-o-u-s-t-i-t-r-e {
    width: 100%;
    height: 29px;
    align-self: center;
    padding-top: 20%;
    justify-content: center;
  }
  .home-l-o-g-o {
    width: 100%;
    position: 0px;
  }
  .home-heading1 {
    width: 100%;
  }
  .home-image {
    width: 100%;
    height: 488px;
    padding-top: 0%;
  }
  .home-d-e-f-i-n-i-t-i-o-n {
    width: 90%;
    height: 0px;
    padding-bottom: 50%;
  }
  .home-container4 {
    width: 100%;
    padding-bottom: 0%;
  }
  .home-image1 {
    align-self: flex-start;
  }
  .home-p-r-o-j-e-c-t-s-1 {
    height: 150vw;
    padding-top: 5%;
  }
  .home-l-i-q-u-i-d-p-a-i-n-t {
    width: 100%;
  }
  .home-image2 {
    height: auto;
  }
  .home-o-r-a-g-e {
    width: 100%;
  }
  .home-image3 {
    height: auto;
  }
  .home-p-r-o-j-e-c-t-s-2 {
    flex: 0 0 auto;
    height: 150vw;
    padding-top: 5%;
  }
  .home-m-a-p-p-i-n-g-f-a-c-a-d-e {
    width: 100%;
  }
  .home-image4 {
    height: auto;
  }
  .home-l-s-d {
    width: 100%;
  }
  .home-image5 {
    height: auto;
  }
}
