.links-container-links-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.links-container-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.links-container-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.links-container-link2 {
  text-decoration: none;
}

@media(max-width: 1200px) {
  .links-container-links-container {
    width: 100%;
    height: 100%;
    background-color: #000000;
  }
  .links-container-link {
    color: #ffffff;
  }
  .links-container-link1 {
    color: #ffffff;
  }
  .links-container-link2 {
    color: #ffffff;
  }
}
@media(max-width: 767px) {
  .links-container-root-class-name {
    width: 100%;
    height: 100%;
  }
}

.m-e-n-u-b-a-r-m-e-n-u-b-a-r {
  width: 100%;
  height: 5%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.m-e-n-u-b-a-r-h-e-a-d-e-r {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: #000000;
}
.m-e-n-u-b-a-r-menu-gauche {
  left: 0px;
  width: 45%;
  bottom: 0px;
  height: 100%;
  display: flex;
  padding: 0px;
  position: absolute;
  max-width: var(--dl-size-size-maxcontent);
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
}
.m-e-n-u-b-a-r-container {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.m-e-n-u-b-a-r-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.m-e-n-u-b-a-r-icon {
  width: 36px;
  height: 36px;
}
.m-e-n-u-b-a-r-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.m-e-n-u-b-a-r-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.m-e-n-u-b-a-r-close-menu {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.m-e-n-u-b-a-r-container2 {
  display: flex;
  position: relative;
}
.m-e-n-u-b-a-r-container3 {
  display: flex;
  position: relative;
}
.m-e-n-u-b-a-r-icon2 {
  width: 24px;
  height: 24px;
}
.m-e-n-u-b-a-r-links-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-left: 0%;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
}
.m-e-n-u-b-a-r-link {
  top: 0px;
  left: 0px;
  color: #fdfdfd;
  width: 20%;
  position: absolute;
  text-align: right;
  text-decoration: none;
}
.m-e-n-u-b-a-r-link1 {
  color: #fdfdfd;
  width: 30%;
  text-decoration: none;
}
.m-e-n-u-b-a-r-link2 {
  top: 0px;
  color: #fdfdfd;
  right: 0px;
  position: absolute;
  margin-right: var(--dl-space-space-tenunits);
  text-decoration: none;
}
.m-e-n-u-b-a-r-l-i-g-n-e {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: stretch;
  margin-left: 3%;
  padding-top: 0px;
  padding-left: 3%;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #f5f1f1;
}
.m-e-n-u-b-a-r-navlink {
  display: contents;
}
.m-e-n-u-b-a-r-image {
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}








@media(max-width: 1600px) {
  .m-e-n-u-b-a-r-m-e-n-u-b-a-r {
    height: 5%;
  }
  .m-e-n-u-b-a-r-h-e-a-d-e-r {
    height: 100%;
    padding-top: 0%;
    background-color: #000000;
  }
  .m-e-n-u-b-a-r-menu-gauche {
    top: 0px;
    width: 45%;
    bottom: 0px;
    height: 100%;
    margin: auto;
    max-width: auto;
    align-items: center;
    padding-top: 0%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0%;
  }
  .m-e-n-u-b-a-r-container {
    height: auto;
    align-self: center;
  }
  .m-e-n-u-b-a-r-links-container {
    width: 100%;
    height: 100%;
    position: relative;
    align-self: flex-start;
  }
  .m-e-n-u-b-a-r-link {
    width: 20%;
  }
  .m-e-n-u-b-a-r-link1 {
    width: 30%;
  }
  .m-e-n-u-b-a-r-link2 {
    width: 40%;
    text-align: right;
  }
  .m-e-n-u-b-a-r-l-i-g-n-e {
    left: 0px;
    width: 100%;
    align-self: stretch;
  }
  .m-e-n-u-b-a-r-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 100%;
    margin: auto;
    position: absolute;
    align-self: center;
    padding-top: 0%;
  }
}
@media(max-width: 1200px) {
  .m-e-n-u-b-a-r-m-e-n-u-b-a-r {
    height: 5%;
  }
  .m-e-n-u-b-a-r-h-e-a-d-e-r {
    width: 100%;
    height: 100%;
    align-items: flex-end;
  }
  .m-e-n-u-b-a-r-menu-gauche {
    top: 0px;
    width: 45%;
    height: 100%;
    max-width: auto;
  }
  .m-e-n-u-b-a-r-container {
    height: auto;
    align-self: center;
  }
  .m-e-n-u-b-a-r-links-container {
    width: 100%;
    height: 100%;
  }
  .m-e-n-u-b-a-r-link {
    left: 0px;
    width: 40%;
    text-align: left;
    margin-left: var(--dl-space-space-fourunits);
  }
  .m-e-n-u-b-a-r-link1 {
    width: 30%;
  }
  .m-e-n-u-b-a-r-link2 {
    width: 40%;
  }
  .m-e-n-u-b-a-r-l-i-g-n-e {
    width: 100%;
  }
  .m-e-n-u-b-a-r-image {
    width: auto;
    height: 100%;
  }
}
@media(max-width: 991px) {
  .m-e-n-u-b-a-r-m-e-n-u-b-a-r {
    width: 100%;
    height: 5%;
    z-index: 100;
    min-width: auto;
    min-height: auto;
  }
  .m-e-n-u-b-a-r-h-e-a-d-e-r {
    height: 100%;
    padding-top: 0px;
  }
  .m-e-n-u-b-a-r-menu-gauche {
    top: 0px;
    left: 0px;
    width: 45%;
    bottom: 0px;
    height: 100%;
    margin: auto;
    max-width: auto;
  }
  .m-e-n-u-b-a-r-container {
    width: 100%;
    align-self: center;
  }
  .m-e-n-u-b-a-r-links-container {
    width: 100%;
    height: 100%;
    padding-left: 5%;
  }
  .m-e-n-u-b-a-r-link {
    color: #ffffff;
    width: 40%;
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: 0px;
  }
  .m-e-n-u-b-a-r-link1 {
    color: #ffffff;
    width: 30%;
    height: auto;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .m-e-n-u-b-a-r-link2 {
    color: #ffffff;
    width: 30%;
    margin-right: var(--dl-space-space-unit);
  }
  .m-e-n-u-b-a-r-l-i-g-n-e {
    width: 100%;
    align-self: center;
  }
  .m-e-n-u-b-a-r-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 100%;
    margin: auto;
    position: absolute;
  }
  .m-e-n-u-b-a-r-root-class-name4 {
    top: 0px;
    left: 0px;
    height: 3%;
    position: 0px;
  }
}
@media(max-width: 767px) {
  .m-e-n-u-b-a-r-m-e-n-u-b-a-r {
    height: 5%;
    min-width: auto;
    min-height: auto;
  }
  .m-e-n-u-b-a-r-h-e-a-d-e-r {
    height: 100%;
  }
  .m-e-n-u-b-a-r-menu-gauche {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .m-e-n-u-b-a-r-container {
    width: 100%;
    height: auto;
  }
  .m-e-n-u-b-a-r-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: 4%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .m-e-n-u-b-a-r-icon {
    fill: var(--dl-color-gray-white);
  }
  .m-e-n-u-b-a-r-links-container {
    display: none;
  }
  .m-e-n-u-b-a-r-l-i-g-n-e {
    width: 0%;
    height: 0px;
  }
  .m-e-n-u-b-a-r-image {
    width: auto;
    height: 100%;
  }
  .m-e-n-u-b-a-r-root-class-name4 {
    height: auto;
  }
}
@media(max-width: 320px) {
  .m-e-n-u-b-a-r-m-e-n-u-b-a-r {
    height: 5%;
    min-width: auto;
    min-height: auto;
  }
  .m-e-n-u-b-a-r-h-e-a-d-e-r {
    height: 100%;
    padding-top: 0px;
  }
  .m-e-n-u-b-a-r-menu-gauche {
    width: 100%;
    height: auto;
    align-self: flex-start;
    padding-right: 0px;
    background-color: #000000;
  }
  .m-e-n-u-b-a-r-container {
    width: 100%;
    height: auto;
    position: relative;
  }
  .m-e-n-u-b-a-r-burger-menu {
    margin-left: 4%;
    background-color: #000000;
  }
  .m-e-n-u-b-a-r-icon {
    fill: #ffffff;
  }
  .m-e-n-u-b-a-r-mobile-menu {
    top: 0px;
    left: 0px;
    position: absolute;
    align-self: flex-start;
    background-color: #000000;
  }
  .m-e-n-u-b-a-r-icon2 {
    fill: #ffffff;
  }
  .m-e-n-u-b-a-r-links-container {
    background-color: #000000;
  }
  .m-e-n-u-b-a-r-l-i-g-n-e {
    width: 0px;
    height: 0px;
    padding-left: 10%;
  }
  .m-e-n-u-b-a-r-image {
    width: auto;
  }
  .m-e-n-u-b-a-r-root-class-name4 {
    top: 0px;
    left: 0px;
    position: 0px;
  }
}

.footer-container-footer-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0%;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.footer-container-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: #000000;
}
.footer-container-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-container-link {
  display: contents;
}
.footer-container-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.footer-container-icon2 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.footer-container-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-container-icon4 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.footer-container-link1 {
  fill: #ffffff;
  color: #ffffff;
}




@media(max-width: 1200px) {
  .footer-container-footer-container {
    height: auto;
    padding-top: 0%;
    background-color: #000000;
  }
  .footer-container-footer {
    height: auto;
  }
}
@media(max-width: 320px) {
  .footer-container-footer {
    position: relative;
  }
  .footer-container-copyright-container {
    top: 0px;
    right: 0px;
    width: 50%;
    bottom: 0px;
    margin: auto;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer-container-icon4 {
    align-self: center;
    margin-right: 5%;
  }
}

.liquidpaint-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.liquidpaint-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.liquidpaint-m-a-i-n {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.liquidpaint-container1 {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 5%;
  padding-bottom: 5%;
}
.liquidpaint-t-e-x-t-e {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.liquidpaint-text {
  color: #ffffff;
  letter-spacing: 2;
}
.liquidpaint-text01 {
  color: #ffffff;
  width: 100%;
  text-align: justify;
  padding-bottom: 5%;
}
.liquidpaint-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
}
.liquidpaint-row-contact {
  flex: 0 0 auto;
  width: 70%;
  height: 500px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: 5%;
}
.liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
  width: auto;
  height: 100%;
  object-fit: cover;
  padding-right: 0%;
}
.liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
  top: 0px;
  right: 0px;
  width: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.liquidpaint-bot {
  flex: 0 0 auto;
  width: 90%;
  height: 400px;
  display: flex;
  align-self: center;
  margin-top: 10%;
  align-items: flex-start;
  padding-top: 0%;
  margin-bottom: 10%;
  flex-direction: column;
  padding-bottom: 0%;
}
.liquidpaint-row-process {
  flex: 0 0 auto;
  width: 80%;
  height: 10%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
}
.liquidpaint-process {
  color: #ffffff;
  width: 30%;
}
.liquidpaint-contenu {
  top: 0px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 30%;
  margin: auto;
  position: absolute;
  text-align: center;
}
.liquidpaint-rendu {
  top: 0px;
  color: #ffffff;
  right: 0px;
  width: 30%;
  position: absolute;
  text-align: right;
}
.liquidpaint-row-process-image {
  flex: 0 0 auto;
  width: 100%;
  height: 90%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.liquidpaint-image1 {
  top: 0px;
  left: 0px;
  width: 30%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.liquidpaint-image2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 30%;
  height: 100%;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.liquidpaint-image3 {
  top: 0px;
  right: 0px;
  width: 30%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.liquidpaint-subscribe {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.liquidpaint-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 1600px) {
  .liquidpaint-container {
    background-color: #000000;
  }
  .liquidpaint-m-a-i-n {
    flex: 0 0 auto;
    height: auto;
    align-items: center;
  }
  .liquidpaint-container1 {
    width: 90%;
    height: auto;
    align-self: center;
  }
  .liquidpaint-t-e-x-t-e {
    width: 30%;
    height: auto;
    position: 0px;
    align-self: flex-start;
  }
  .liquidpaint-text {
    color: #ffffff;
  }
  .liquidpaint-text01 {
    color: #ffffff;
    width: 100%;
    padding-bottom: 5%;
  }
  .liquidpaint-image {
    left: 0px;
    width: 100%;
    bottom: 0px;
    position: absolute;
  }
  .liquidpaint-row-contact {
    width: 70%;
    align-self: center;
    padding-left: 5%;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
    top: 0px;
    left: 0px;
    width: 50%;
    height: auto;
    position: absolute;
    padding-right: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
    right: 0px;
    width: 50%;
    height: auto;
  }
  .liquidpaint-bot {
    left: 0px;
    right: 0px;
    width: 90%;
    bottom: 0px;
    height: auto;
    position: static;
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .liquidpaint-row-process {
    width: 80%;
    height: 10%;
    position: relative;
    align-self: center;
    align-items: flex-end;
    flex-direction: row;
  }
  .liquidpaint-process {
    color: #ffffff;
    width: 30%;
  }
  .liquidpaint-contenu {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    width: 30%;
    margin: auto;
    position: absolute;
    text-align: center;
  }
  .liquidpaint-rendu {
    top: 0px;
    color: #ffffff;
    right: 0px;
    width: 30%;
    position: absolute;
    text-align: right;
  }
  .liquidpaint-row-process-image {
    width: 100%;
    height: 250px;
    align-self: flex-start;
  }
  .liquidpaint-image1 {
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    position: absolute;
  }
  .liquidpaint-image2 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    margin: auto;
    position: absolute;
  }
  .liquidpaint-image3 {
    top: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    position: absolute;
  }
}
@media(max-width: 1200px) {
  .liquidpaint-container {
    background-color: #000000;
  }
  .liquidpaint-m-a-i-n {
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .liquidpaint-container1 {
    height: auto;
    position: relative;
    padding-top: 5%;
    flex-direction: row;
    justify-content: center;
  }
  .liquidpaint-t-e-x-t-e {
    width: 35%;
    align-self: center;
    justify-content: flex-start;
  }
  .liquidpaint-text {
    color: #ffffff;
    align-self: center;
  }
  .liquidpaint-text01 {
    color: #ffffff;
    width: 100%;
    align-self: flex-end;
    text-align: justify;
    padding-bottom: 10%;
  }
  .liquidpaint-image {
    width: 100%;
    align-self: flex-start;
    padding-top: 0%;
  }
  .liquidpaint-row-contact {
    width: 60%;
    height: auto;
    margin: 0px;
    align-self: center;
    padding-left: 0%;
    flex-direction: column;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
    width: 50%;
    height: auto;
    position: static;
    align-self: flex-end;
    padding-right: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
    left: 0px;
    width: 50%;
    height: auto;
    position: static;
    align-self: flex-end;
  }
  .liquidpaint-bot {
    height: auto;
    position: static;
    align-self: center;
    margin-left: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .liquidpaint-row-process {
    width: 70%;
    height: 50px;
    position: relative;
    align-self: center;
    padding-top: 0%;
  }
  .liquidpaint-process {
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .liquidpaint-contenu {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    width: 30%;
    margin: auto;
    position: absolute;
    text-align: center;
  }
  .liquidpaint-rendu {
    top: 0px;
    color: #ffffff;
    right: 0px;
    width: 30%;
    margin: auto;
    position: absolute;
    text-align: right;
  }
  .liquidpaint-row-process-image {
    width: 90%;
    height: 250px;
    position: relative;
    align-self: center;
    padding-top: 0%;
  }
  .liquidpaint-image1 {
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    position: absolute;
  }
  .liquidpaint-image2 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    margin: auto;
    position: absolute;
  }
  .liquidpaint-image3 {
    top: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    position: absolute;
  }
}
@media(max-width: 991px) {
  .liquidpaint-container {
    background-color: #000000;
  }
  .liquidpaint-m-a-i-n {
    height: auto;
    flex-direction: column;
  }
  .liquidpaint-container1 {
    width: 100%;
    height: auto;
    padding-top: 5%;
    flex-direction: column;
  }
  .liquidpaint-t-e-x-t-e {
    width: 100%;
    position: static;
    padding-bottom: 5%;
  }
  .liquidpaint-text {
    width: 90%;
    align-self: center;
  }
  .liquidpaint-text01 {
    width: 90%;
    height: auto;
    align-self: center;
    padding-bottom: 10%;
  }
  .liquidpaint-image {
    width: 90%;
    position: static;
    align-self: center;
    padding-top: 0%;
  }
  .liquidpaint-row-contact {
    width: 90%;
    height: 500px;
    position: relative;
    align-self: center;
    padding-top: 0%;
    padding-left: 0%;
    flex-direction: row;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
    left: 0px;
    width: 50%;
    height: auto;
    position: static;
    align-self: center;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
    right: 0px;
    height: auto;
    position: static;
    align-self: center;
  }
  .liquidpaint-bot {
    width: 90%;
    position: static;
    align-self: center;
    margin-top: 5%;
    margin-left: 0px;
    padding-top: 5%;
    margin-right: 0px;
    padding-bottom: 5%;
  }
  .liquidpaint-row-process {
    width: 80%;
  }
  .liquidpaint-process {
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .liquidpaint-row-process-image {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .liquidpaint-container {
    background-color: #000000;
  }
  .liquidpaint-m-a-i-n {
    height: auto;
    position: 0px;
    align-self: center;
    justify-content: flex-start;
  }
  .liquidpaint-container1 {
    width: 100%;
    height: auto;
    margin: 0px;
    align-self: flex-start;
    padding-top: 5%;
    flex-direction: column;
  }
  .liquidpaint-t-e-x-t-e {
    width: 100%;
    height: auto;
    position: static;
    align-self: flex-start;
    padding-bottom: 0%;
  }
  .liquidpaint-text {
    width: 90%;
    text-align: center;
  }
  .liquidpaint-text01 {
    width: 90%;
    align-self: center;
    padding-bottom: 10%;
  }
  .liquidpaint-image {
    left: 0px;
    right: 0px;
    width: 90%;
    margin: auto;
  }
  .liquidpaint-row-contact {
    width: 90%;
    height: auto;
    align-self: center;
    padding-top: 5%;
    flex-direction: row;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
    width: 50%;
    height: 100%;
    margin: 0px;
    position: static;
    align-self: flex-start;
    padding-right: 0%;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
    flex: initial;
    width: 50%;
    height: 100%;
    margin: 0px;
    position: static;
  }
  .liquidpaint-bot {
    width: 90%;
    height: auto;
    position: 0px;
    align-self: center;
    margin-left: 0px;
  }
  .liquidpaint-process {
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .liquidpaint-subscribe {
    flex-direction: column;
  }
}
@media(max-width: 320px) {
  .liquidpaint-m-a-i-n {
    height: auto;
    align-items: center;
    padding-bottom: 10%;
    justify-content: center;
  }
  .liquidpaint-container1 {
    width: 100%;
    height: auto;
    position: 0px;
    align-self: center;
    padding-top: 5%;
    flex-direction: column;
  }
  .liquidpaint-t-e-x-t-e {
    width: 100%;
    height: auto;
    position: static;
    align-self: center;
    padding-bottom: 10%;
  }
  .liquidpaint-text01 {
    padding-bottom: 10%;
  }
  .liquidpaint-image {
    bottom: 0px;
    position: static;
    padding-top: 0%;
  }
  .liquidpaint-row-contact {
    height: auto;
    position: static;
    align-self: center;
    padding-top: 0%;
    flex-direction: column;
    padding-bottom: 10%;
    justify-content: flex-start;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
    width: 100%;
    height: 50%;
    position: static;
    padding-right: 0%;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
    width: 100%;
    bottom: 0px;
    height: 50%;
    position: static;
    align-self: center;
  }
  .liquidpaint-bot {
    width: 90%;
    position: static;
    align-self: center;
    margin-left: 0px;
  }
  .liquidpaint-row-process {
    width: 100%;
  }
  .liquidpaint-process {
    top: 0px;
    left: 0px;
    color: #ffffff;
    bottom: 0px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .liquidpaint-contenu {
    top: 0px;
    width: 30%;
    bottom: 0px;
    margin: auto;
  }
  .liquidpaint-rendu {
    width: 30%;
  }
}
