.links-container-links-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.links-container-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.links-container-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.links-container-link2 {
  text-decoration: none;
}

@media(max-width: 1200px) {
  .links-container-links-container {
    width: 100%;
    height: 100%;
    background-color: #000000;
  }
  .links-container-link {
    color: #ffffff;
  }
  .links-container-link1 {
    color: #ffffff;
  }
  .links-container-link2 {
    color: #ffffff;
  }
}
@media(max-width: 767px) {
  .links-container-root-class-name {
    width: 100%;
    height: 100%;
  }
}

.liquidpaint-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.liquidpaint-m-e-n-u-b-a-r {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.liquidpaint-h-e-a-d-e-r {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.liquidpaint-menu-gauche {
  width: 25%;
  height: 94px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.liquidpaint-container1 {
  width: 100%;
  height: 138px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.liquidpaint-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.liquidpaint-icon {
  width: 36px;
  height: 36px;
}
.liquidpaint-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.liquidpaint-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.liquidpaint-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.liquidpaint-icon02 {
  width: 24px;
  height: 24px;
}
.liquidpaint-links-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: 3%;
  flex-direction: row;
  justify-content: center;
}
.liquidpaint-link {
  color: #ffffff;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.liquidpaint-link1 {
  color: #fdfdfd;
  text-decoration: none;
}
.liquidpaint-l-i-g-n-e {
  flex: 0 0 auto;
  width: 80%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: stretch;
  margin-left: 3%;
  padding-top: 0px;
  padding-left: 3%;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #f5f1f1;
}
.liquidpaint-menu-droite {
  top: 0px;
  right: 0px;
  width: 25%;
  height: 94px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.liquidpaint-container3 {
  width: 100%;
  height: 138px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.liquidpaint-links-container1 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: 3%;
  flex-direction: row;
  justify-content: center;
}
.liquidpaint-navlink {
  color: #ffffff;
  padding: 0px;
  text-decoration: none;
  background-color: #000000;
}
.liquidpaint-navlink1 {
  display: contents;
}
.liquidpaint-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.liquidpaint-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.liquidpaint-m-a-i-n {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.liquidpaint-container4 {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 5%;
  padding-bottom: 5%;
}
.liquidpaint-t-e-x-t-e {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.liquidpaint-text01 {
  color: #ffffff;
  letter-spacing: 2;
}
.liquidpaint-text02 {
  color: #ffffff;
  width: 100%;
  text-align: justify;
  padding-bottom: 5%;
}
.liquidpaint-image1 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
}
.liquidpaint-row-contact {
  flex: 0 0 auto;
  width: 70%;
  height: 500px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: 5%;
}
.liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
  width: auto;
  height: 100%;
  object-fit: cover;
  padding-right: 0%;
}
.liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
  top: 0px;
  right: 0px;
  width: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.liquidpaint-bot {
  flex: 0 0 auto;
  width: 90%;
  height: 400px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 0%;
  flex-direction: column;
  padding-bottom: 0%;
}
.liquidpaint-row-process {
  flex: 0 0 auto;
  width: 80%;
  height: 10%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
}
.liquidpaint-process {
  color: #ffffff;
  width: 30%;
}
.liquidpaint-contenu {
  top: 0px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 30%;
  margin: auto;
  position: absolute;
  text-align: center;
}
.liquidpaint-rendu {
  top: 0px;
  color: #ffffff;
  right: 0px;
  width: 30%;
  position: absolute;
  text-align: right;
}
.liquidpaint-row-process-image {
  flex: 0 0 auto;
  width: 100%;
  height: 90%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.liquidpaint-image2 {
  top: 0px;
  left: 0px;
  width: 30%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.liquidpaint-image3 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 30%;
  height: 100%;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.liquidpaint-image4 {
  top: 0px;
  right: 0px;
  width: 30%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.liquidpaint-subscribe {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.liquidpaint-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.liquidpaint-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5%;
  flex-direction: column;
  justify-content: center;
  background-color: #0a0a0a;
}
.liquidpaint-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.liquidpaint-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.liquidpaint-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.liquidpaint-icon06 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.liquidpaint-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.liquidpaint-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.liquidpaint-link2 {
  fill: #ffffff;
  color: #ffffff;
}
@media(max-width: 1600px) {
  .liquidpaint-container {
    background-color: #000000;
  }
  .liquidpaint-m-e-n-u-b-a-r {
    height: 3%;
  }
  .liquidpaint-h-e-a-d-e-r {
    height: 100%;
  }
  .liquidpaint-menu-gauche {
    width: 25%;
    height: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .liquidpaint-links-container {
    position: relative;
    align-self: flex-start;
  }
  .liquidpaint-l-i-g-n-e {
    left: 0px;
    width: 100%;
    align-self: stretch;
  }
  .liquidpaint-menu-droite {
    width: 25%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .liquidpaint-links-container1 {
    position: relative;
    align-self: flex-start;
  }
  .liquidpaint-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 5%;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .liquidpaint-m-a-i-n {
    flex: 0 0 auto;
    height: auto;
    align-items: center;
  }
  .liquidpaint-container4 {
    width: 90%;
    height: auto;
    align-self: center;
  }
  .liquidpaint-t-e-x-t-e {
    width: 30%;
    height: auto;
    position: 0px;
    align-self: flex-start;
  }
  .liquidpaint-text01 {
    color: #ffffff;
  }
  .liquidpaint-text02 {
    color: #ffffff;
    width: 100%;
    padding-bottom: 5%;
  }
  .liquidpaint-image1 {
    left: 0px;
    width: 100%;
    bottom: 0px;
    position: absolute;
  }
  .liquidpaint-row-contact {
    width: 70%;
    align-self: center;
    padding-left: 5%;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
    top: 0px;
    left: 0px;
    width: 50%;
    height: auto;
    position: absolute;
    padding-right: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
    right: 0px;
    width: 50%;
    height: auto;
  }
  .liquidpaint-bot {
    left: 0px;
    right: 0px;
    width: 90%;
    bottom: 0px;
    height: auto;
    position: static;
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 5%;
    margin-bottom: 0px;
    padding-bottom: 5%;
  }
  .liquidpaint-row-process {
    width: 80%;
    height: 10%;
    position: relative;
    align-self: center;
    align-items: flex-end;
    flex-direction: row;
  }
  .liquidpaint-process {
    color: #ffffff;
    width: 30%;
  }
  .liquidpaint-contenu {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    width: 30%;
    margin: auto;
    position: absolute;
    text-align: center;
  }
  .liquidpaint-rendu {
    top: 0px;
    color: #ffffff;
    right: 0px;
    width: 30%;
    position: absolute;
    text-align: right;
  }
  .liquidpaint-row-process-image {
    width: 100%;
    height: 250px;
    align-self: flex-start;
  }
  .liquidpaint-image2 {
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    position: absolute;
  }
  .liquidpaint-image3 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    margin: auto;
    position: absolute;
  }
  .liquidpaint-image4 {
    top: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    position: absolute;
  }
}
@media(max-width: 1200px) {
  .liquidpaint-container {
    background-color: #000000;
  }
  .liquidpaint-m-e-n-u-b-a-r {
    height: 3%;
  }
  .liquidpaint-h-e-a-d-e-r {
    width: 100%;
    height: 90%;
    align-items: flex-end;
  }
  .liquidpaint-menu-gauche {
    width: 50%;
    height: 100%;
  }
  .liquidpaint-container1 {
    height: 100%;
  }
  .liquidpaint-l-i-g-n-e {
    width: 50%;
  }
  .liquidpaint-menu-droite {
    right: 0px;
    width: 25%;
    height: 100%;
    justify-content: flex-end;
  }
  .liquidpaint-container3 {
    height: 100%;
  }
  .liquidpaint-m-a-i-n {
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .liquidpaint-container4 {
    height: auto;
    position: relative;
    padding-top: 5%;
    flex-direction: row;
    justify-content: center;
  }
  .liquidpaint-t-e-x-t-e {
    width: 35%;
    align-self: center;
    justify-content: flex-start;
  }
  .liquidpaint-text01 {
    color: #ffffff;
    align-self: center;
  }
  .liquidpaint-text02 {
    color: #ffffff;
    width: 100%;
    align-self: flex-end;
    text-align: justify;
    padding-bottom: 10%;
  }
  .liquidpaint-image1 {
    width: 100%;
    align-self: flex-start;
    padding-top: 0%;
  }
  .liquidpaint-row-contact {
    width: 60%;
    height: auto;
    margin: 0px;
    align-self: center;
    padding-left: 0%;
    flex-direction: column;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
    width: 50%;
    height: auto;
    position: static;
    align-self: flex-end;
    padding-right: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
    left: 0px;
    width: 50%;
    height: auto;
    position: static;
    align-self: flex-end;
  }
  .liquidpaint-bot {
    height: auto;
    position: static;
    align-self: center;
    margin-left: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .liquidpaint-row-process {
    width: 70%;
    height: 50px;
    position: relative;
    align-self: center;
    padding-top: 0%;
  }
  .liquidpaint-process {
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .liquidpaint-contenu {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    width: 30%;
    margin: auto;
    position: absolute;
    text-align: center;
  }
  .liquidpaint-rendu {
    top: 0px;
    color: #ffffff;
    right: 0px;
    width: 30%;
    margin: auto;
    position: absolute;
    text-align: right;
  }
  .liquidpaint-row-process-image {
    width: 90%;
    height: 250px;
    position: relative;
    align-self: center;
    padding-top: 0%;
  }
  .liquidpaint-image2 {
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    position: absolute;
  }
  .liquidpaint-image3 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    margin: auto;
    position: absolute;
  }
  .liquidpaint-image4 {
    top: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    position: absolute;
  }
  .liquidpaint-footer-container {
    background-color: #000000;
  }
}
@media(max-width: 991px) {
  .liquidpaint-container {
    background-color: #000000;
  }
  .liquidpaint-m-e-n-u-b-a-r {
    height: 2%;
  }
  .liquidpaint-menu-gauche {
    width: 50%;
    height: 100%;
  }
  .liquidpaint-container1 {
    width: 990px;
  }
  .liquidpaint-menu-droite {
    width: 25%;
    height: 100%;
  }
  .liquidpaint-container3 {
    width: 990px;
  }
  .liquidpaint-m-a-i-n {
    height: auto;
    flex-direction: column;
  }
  .liquidpaint-container4 {
    width: 100%;
    height: auto;
    padding-top: 5%;
    flex-direction: column;
  }
  .liquidpaint-t-e-x-t-e {
    width: 100%;
    position: static;
    padding-bottom: 5%;
  }
  .liquidpaint-text01 {
    width: 90%;
    align-self: center;
  }
  .liquidpaint-text02 {
    width: 90%;
    height: auto;
    align-self: center;
    padding-bottom: 10%;
  }
  .liquidpaint-image1 {
    width: 90%;
    position: static;
    align-self: center;
    padding-top: 0%;
  }
  .liquidpaint-row-contact {
    width: 90%;
    height: 500px;
    position: relative;
    align-self: center;
    padding-top: 0%;
    padding-left: 0%;
    flex-direction: row;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
    left: 0px;
    width: 50%;
    height: auto;
    position: static;
    align-self: center;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
    right: 0px;
    height: auto;
    position: static;
    align-self: center;
  }
  .liquidpaint-bot {
    width: 90%;
    position: static;
    align-self: center;
    margin-top: 5%;
    margin-left: 0px;
    padding-top: 5%;
    margin-right: 0px;
    padding-bottom: 5%;
  }
  .liquidpaint-row-process {
    width: 80%;
  }
  .liquidpaint-process {
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .liquidpaint-row-process-image {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .liquidpaint-container {
    background-color: #000000;
  }
  .liquidpaint-m-e-n-u-b-a-r {
    height: 3%;
  }
  .liquidpaint-h-e-a-d-e-r {
    height: 100%;
  }
  .liquidpaint-menu-gauche {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .liquidpaint-container1 {
    width: 100%;
    height: 100%;
  }
  .liquidpaint-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: 4%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .liquidpaint-icon {
    fill: var(--dl-color-gray-white);
  }
  .liquidpaint-links-container {
    display: none;
  }
  .liquidpaint-menu-droite {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .liquidpaint-container3 {
    width: 100%;
    height: 100%;
  }
  .liquidpaint-links-container1 {
    display: none;
  }
  .liquidpaint-m-a-i-n {
    height: auto;
    position: 0px;
    align-self: center;
    justify-content: flex-start;
  }
  .liquidpaint-container4 {
    width: 100%;
    height: auto;
    margin: 0px;
    align-self: flex-start;
    padding-top: 5%;
    flex-direction: column;
  }
  .liquidpaint-t-e-x-t-e {
    width: 100%;
    height: auto;
    position: static;
    align-self: flex-start;
    padding-bottom: 0%;
  }
  .liquidpaint-text01 {
    width: 90%;
    text-align: center;
  }
  .liquidpaint-text02 {
    width: 90%;
    align-self: center;
    padding-bottom: 10%;
  }
  .liquidpaint-image1 {
    left: 0px;
    right: 0px;
    width: 90%;
    margin: auto;
  }
  .liquidpaint-row-contact {
    width: 90%;
    height: auto;
    align-self: center;
    padding-top: 5%;
    flex-direction: row;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
    width: 50%;
    height: 100%;
    margin: 0px;
    position: static;
    align-self: flex-start;
    padding-right: 0%;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
    flex: initial;
    width: 50%;
    height: 100%;
    margin: 0px;
    position: static;
  }
  .liquidpaint-bot {
    width: 90%;
    height: auto;
    position: 0px;
    align-self: center;
    margin-left: 0px;
  }
  .liquidpaint-process {
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .liquidpaint-subscribe {
    flex-direction: column;
  }
}
@media(max-width: 320px) {
  .liquidpaint-m-e-n-u-b-a-r {
    height: 1%;
  }
  .liquidpaint-menu-gauche {
    width: 100%;
    height: 85px;
    align-self: flex-start;
    padding-right: 0px;
  }
  .liquidpaint-container1 {
    width: 478px;
    height: 100%;
    position: relative;
  }
  .liquidpaint-burger-menu {
    margin-left: 4%;
  }
  .liquidpaint-mobile-menu {
    top: 0px;
    left: 0px;
    position: absolute;
    align-self: flex-start;
  }
  .liquidpaint-l-i-g-n-e {
    width: 90%;
    padding-left: 10%;
  }
  .liquidpaint-menu-droite {
    top: 0px;
    left: 0px;
    width: 0%;
    position: absolute;
    align-self: center;
    padding-right: 0px;
  }
  .liquidpaint-container3 {
    width: 478px;
    position: relative;
  }
  .liquidpaint-image {
    width: 10%;
  }
  .liquidpaint-m-a-i-n {
    height: auto;
    align-items: center;
    padding-bottom: 10%;
    justify-content: center;
  }
  .liquidpaint-container4 {
    width: 100%;
    height: auto;
    position: 0px;
    align-self: center;
    padding-top: 5%;
    flex-direction: column;
  }
  .liquidpaint-t-e-x-t-e {
    width: 100%;
    height: auto;
    position: static;
    align-self: center;
    padding-bottom: 10%;
  }
  .liquidpaint-text02 {
    padding-bottom: 10%;
  }
  .liquidpaint-image1 {
    bottom: 0px;
    position: static;
    padding-top: 0%;
  }
  .liquidpaint-row-contact {
    height: auto;
    position: static;
    align-self: center;
    padding-top: 0%;
    flex-direction: column;
    padding-bottom: 10%;
    justify-content: flex-start;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-1 {
    width: 100%;
    height: 50%;
    position: static;
    padding-right: 0%;
    padding-bottom: 0%;
  }
  .liquidpaint-p-l-a-n-c-h-e-c-o-n-t-a-c-t-2 {
    width: 100%;
    bottom: 0px;
    height: 50%;
    position: static;
    align-self: center;
  }
  .liquidpaint-bot {
    width: 90%;
    position: static;
    align-self: center;
    margin-left: 0px;
  }
  .liquidpaint-row-process {
    width: 100%;
  }
  .liquidpaint-process {
    top: 0px;
    left: 0px;
    color: #ffffff;
    bottom: 0px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .liquidpaint-contenu {
    top: 0px;
    width: 30%;
    bottom: 0px;
    margin: auto;
  }
  .liquidpaint-rendu {
    width: 30%;
  }
  .liquidpaint-footer {
    position: relative;
  }
  .liquidpaint-copyright-container {
    top: 0px;
    right: 0px;
    width: 50%;
    bottom: 0px;
    margin: auto;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
  }
  .liquidpaint-icon08 {
    align-self: center;
    margin-right: 5%;
  }
}
