.links-container-links-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.links-container-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.links-container-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.links-container-link2 {
  text-decoration: none;
}

.projects-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.projects-m-e-n-u-b-a-r {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.projects-h-e-a-d-e-r {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.projects-menu-gauche {
  width: 25%;
  height: 94px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.projects-container1 {
  width: 100%;
  height: 138px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.projects-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.projects-icon {
  width: 36px;
  height: 36px;
}
.projects-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.projects-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.projects-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projects-icon02 {
  width: 24px;
  height: 24px;
}
.projects-links-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: 3%;
  flex-direction: row;
  justify-content: center;
}
.projects-link {
  color: #ffffff;
  margin-right: var(--dl-space-space-tripleunit);
}
.projects-link1 {
  color: #fdfdfd;
}
.projects-l-i-g-n-e {
  flex: 0 0 auto;
  width: 80%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: stretch;
  margin-left: 3%;
  padding-top: 0px;
  padding-left: 3%;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #f5f1f1;
}
.projects-menu-droite {
  top: 0px;
  right: 0px;
  width: 25%;
  height: 94px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.projects-container3 {
  width: 100%;
  height: 138px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.projects-links-container1 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: 3%;
  flex-direction: row;
  justify-content: center;
}
.projects-button {
  color: #ffffff;
  padding: 0px;
  text-decoration: none;
  background-color: #000000;
}
.projects-l-i-g-n-e1 {
  flex: 0 0 auto;
  width: 30%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: stretch;
  margin-left: 3%;
  padding-top: 0px;
  padding-left: 3%;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #f5f1f1;
}
.projects-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-l-o-g-o-c-o-n-t-a-i-n-e-r {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 910px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.projects-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-subscribe {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.projects-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0a0a0a;
}
.projects-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.projects-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.projects-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.projects-icon06 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.projects-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.projects-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.projects-link2 {
  fill: #ffffff;
  color: #ffffff;
}
@media(max-width: 1600px) {
  .projects-menu-gauche {
    width: 25%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .projects-links-container {
    position: relative;
    align-self: flex-start;
  }
  .projects-l-i-g-n-e {
    left: 0px;
    width: 100%;
    align-self: stretch;
  }
  .projects-menu-droite {
    width: 25%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .projects-links-container1 {
    position: relative;
    align-self: flex-start;
  }
  .projects-l-i-g-n-e1 {
    left: 0px;
    width: 30%;
    align-self: stretch;
  }
  .projects-l-o-g-o-c-o-n-t-a-i-n-e-r {
    flex: 0 0 auto;
  }
}
@media(max-width: 1200px) {
  .projects-menu-gauche {
    width: 50%;
  }
  .projects-l-i-g-n-e {
    width: 50%;
  }
  .projects-menu-droite {
    right: 0px;
    width: 25%;
    justify-content: flex-end;
  }
}
@media(max-width: 991px) {
  .projects-menu-gauche {
    width: 50%;
  }
  .projects-container1 {
    width: 990px;
  }
  .projects-menu-droite {
    width: 25%;
  }
  .projects-container3 {
    width: 990px;
  }
  .projects-l-i-g-n-e1 {
    width: 70%;
  }
}
@media(max-width: 767px) {
  .projects-menu-gauche {
    width: 100%;
    position: relative;
  }
  .projects-container1 {
    width: 766px;
  }
  .projects-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: 4%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .projects-icon {
    fill: var(--dl-color-gray-white);
  }
  .projects-links-container {
    display: none;
  }
  .projects-menu-droite {
    width: 100%;
    position: relative;
  }
  .projects-container3 {
    width: 766px;
  }
  .projects-links-container1 {
    display: none;
  }
  .projects-l-o-g-o-c-o-n-t-a-i-n-e-r {
    position: 0px;
    align-self: center;
    justify-content: flex-start;
  }
  .projects-subscribe {
    flex-direction: column;
  }
}
@media(max-width: 320px) {
  .projects-menu-gauche {
    width: 100%;
    height: 85px;
    align-self: flex-start;
    padding-right: 0px;
  }
  .projects-container1 {
    width: 478px;
    height: 100%;
    position: relative;
  }
  .projects-burger-menu {
    margin-left: 4%;
  }
  .projects-mobile-menu {
    top: 0px;
    left: 0px;
    position: absolute;
    align-self: flex-start;
  }
  .projects-l-i-g-n-e {
    width: 90%;
    padding-left: 10%;
  }
  .projects-menu-droite {
    top: 0px;
    left: 0px;
    width: 0%;
    position: absolute;
    align-self: center;
    padding-right: 0px;
  }
  .projects-container3 {
    width: 478px;
    position: relative;
  }
  .projects-l-i-g-n-e1 {
    width: 50%;
    padding-left: 10%;
  }
  .projects-l-o-g-o-c-o-n-t-a-i-n-e-r {
    align-items: center;
    padding-top: 0%;
    justify-content: center;
  }
  .projects-footer {
    position: relative;
  }
  .projects-copyright-container {
    top: 0px;
    right: 0px;
    width: 50%;
    bottom: 0px;
    margin: auto;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
  }
  .projects-icon08 {
    align-self: center;
    margin-right: 5%;
  }
}
