.icon-container {
  display: flex;
  position: relative;
}
.icon-icon {
  width: 24px;
  height: 24px;
}
@media(max-width: 1200px) {
  .icon-container {
    background-color: rgba(255, 255, 255, 0);
  }
  .icon-icon {
    fill: #ffffff;
  }
}
@media(max-width: 320px) {
  .icon-icon {
    fill: #ffffff;
  }
}
