<div>
  <link href="./m-e-n-u-b-a-r.css" rel="stylesheet" />
  <div data-role="Header" class="m-e-n-u b-a-r-m-e-n-u-b-a-r">
    <div class="m-e-n-u b-a-r-h-e-a-d-e-r">
      <div class="m-e-n-u b-a-r-container">
        <div class="m-e-n-u b-a-r-menu-gauche">
          <div class="m-e-n-u b-a-r-container1">
            <div data-type="BurgerMenu" class="m-e-n-u b-a-r-burger-menu">
              <svg viewBox="0 0 1024 1024" class="m-e-n-u b-a-r-icon">
                <path
                  d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
                ></path>
              </svg>
            </div>
            <div data-type="MobileMenu" class="m-e-n-u b-a-r-mobile-menu">
              <div class="m-e-n-u b-a-r-container2">
                <div
                  data-type="CloseMobileMenu"
                  class="m-e-n-u b-a-r-close-menu"
                >
                  <svg viewBox="0 0 1024 1024" class="m-e-n-u b-a-r-icon2">
                    <path
                      d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="links-container-links-container">
                <a href="aboutus.html" class="links-container-link navbar-Link">
                  <span>about us</span>
                </a>
                <a
                  href="projects.html"
                  class="links-container-link1 navbar-Link"
                >
                  <span>projects</span>
                </a>
                <a
                  href="contact.html"
                  class="links-container-link2 navbar-Link"
                >
                  <span>contact</span>
                </a>
              </div>
            </div>
            <div class="m-e-n-u b-a-r-links-container">
              <a href="contact.html" class="m-e-n-u b-a-r-link navbar-Link">
                <span>contact</span>
              </a>
              <a href="aboutus.html" class="m-e-n-u b-a-r-link1 navbar-Link">
                <span>about us</span>
              </a>
            </div>
            <div class="m-e-n-u b-a-r-l-i-g-n-e"></div>
          </div>
        </div>
        <a href="index.html" class="m-e-n-u b-a-r-navlink">
          <img
            alt="image"
            src="public/playground_assets/candela_instagram_plan_de_travail_1_copie_2croped-200h.png"
            class="m-e-n-u b-a-r-image"
          />
        </a>
        <div class="m-e-n-u b-a-r-menu-droite">
          <div class="m-e-n-u b-a-r-container3">
            <div class="m-e-n-u b-a-r-links-container1">
              <a
                href="projects.html"
                class="m-e-n-u b-a-r-navlink1 button navbar-Link"
              >
                <span>projects</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
