.icon-container {
  display: flex;
  position: relative;
}
.icon-icon {
  width: 24px;
  height: 24px;
}
@media(max-width: 1200px) {
  .icon-container {
    background-color: rgba(255, 255, 255, 0);
  }
  .icon-icon {
    fill: #ffffff;
  }
}
@media(max-width: 320px) {
  .icon-icon {
    fill: #ffffff;
  }
}

.links-container-links-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.links-container-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.links-container-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.links-container-link2 {
  text-decoration: none;
}

@media(max-width: 1200px) {
  .links-container-links-container {
    width: 100%;
    height: 100%;
    background-color: #000000;
  }
  .links-container-link {
    color: #ffffff;
  }
  .links-container-link1 {
    color: #ffffff;
  }
  .links-container-link2 {
    color: #ffffff;
  }
}
@media(max-width: 767px) {
  .links-container-root-class-name {
    width: 100%;
    height: 100%;
  }
}

.m-e-n-u\ b-a-r-m-e-n-u-b-a-r {
  width: 100%;
  height: 5%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.m-e-n-u\ b-a-r-h-e-a-d-e-r {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: #000000;
}
.m-e-n-u\ b-a-r-menu-gauche {
  left: 0px;
  width: 45%;
  bottom: 0px;
  height: 100%;
  display: flex;
  padding: 0px;
  position: absolute;
  max-width: var(--dl-size-size-maxcontent);
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
}
.m-e-n-u\ b-a-r-container {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.m-e-n-u\ b-a-r-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.m-e-n-u\ b-a-r-icon {
  width: 36px;
  height: 36px;
}
.m-e-n-u\ b-a-r-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.m-e-n-u\ b-a-r-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.m-e-n-u\ b-a-r-close-menu {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.m-e-n-u\ b-a-r-container2 {
  display: flex;
  position: relative;
}
.m-e-n-u\ b-a-r-container3 {
  display: flex;
  position: relative;
}
.m-e-n-u\ b-a-r-links-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-left: 0%;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
}
.m-e-n-u\ b-a-r-link {
  top: 0px;
  left: 0px;
  color: #fdfdfd;
  width: 20%;
  position: absolute;
  text-align: right;
  text-decoration: none;
}
.m-e-n-u\ b-a-r-link1 {
  color: #fdfdfd;
  width: 30%;
  text-decoration: none;
}
.m-e-n-u\ b-a-r-link2 {
  top: 0px;
  color: #fdfdfd;
  right: 0px;
  position: absolute;
  margin-right: var(--dl-space-space-tenunits);
  text-decoration: none;
}
.m-e-n-u\ b-a-r-l-i-g-n-e {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: stretch;
  margin-left: 3%;
  padding-top: 0px;
  padding-left: 3%;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #f5f1f1;
}
.m-e-n-u\ b-a-r-navlink {
  display: contents;
}
.m-e-n-u\ b-a-r-image {
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}








@media(max-width: 1600px) {
  .m-e-n-u\ b-a-r-m-e-n-u-b-a-r {
    height: 5%;
  }
  .m-e-n-u\ b-a-r-h-e-a-d-e-r {
    height: 100%;
    padding-top: 0%;
    background-color: #000000;
  }
  .m-e-n-u\ b-a-r-menu-gauche {
    top: 0px;
    width: 45%;
    bottom: 0px;
    height: 100%;
    margin: auto;
    max-width: auto;
    align-items: center;
    padding-top: 0%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0%;
  }
  .m-e-n-u\ b-a-r-container {
    height: auto;
    align-self: center;
  }
  .m-e-n-u\ b-a-r-links-container {
    width: 100%;
    height: 100%;
    position: relative;
    align-self: flex-start;
  }
  .m-e-n-u\ b-a-r-link {
    width: 20%;
  }
  .m-e-n-u\ b-a-r-link1 {
    width: 30%;
  }
  .m-e-n-u\ b-a-r-link2 {
    width: 40%;
    text-align: right;
  }
  .m-e-n-u\ b-a-r-l-i-g-n-e {
    left: 0px;
    width: 100%;
    align-self: stretch;
  }
  .m-e-n-u\ b-a-r-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 100%;
    margin: auto;
    position: absolute;
    align-self: center;
    padding-top: 0%;
  }
}
@media(max-width: 1200px) {
  .m-e-n-u\ b-a-r-m-e-n-u-b-a-r {
    height: 5%;
  }
  .m-e-n-u\ b-a-r-h-e-a-d-e-r {
    width: 100%;
    height: 100%;
    align-items: flex-end;
  }
  .m-e-n-u\ b-a-r-menu-gauche {
    top: 0px;
    width: 45%;
    height: 100%;
    max-width: auto;
  }
  .m-e-n-u\ b-a-r-container {
    height: auto;
    align-self: center;
  }
  .m-e-n-u\ b-a-r-links-container {
    width: 100%;
    height: 100%;
  }
  .m-e-n-u\ b-a-r-link {
    left: 0px;
    width: 40%;
    text-align: left;
    margin-left: var(--dl-space-space-fourunits);
  }
  .m-e-n-u\ b-a-r-link1 {
    width: 30%;
  }
  .m-e-n-u\ b-a-r-link2 {
    width: 40%;
  }
  .m-e-n-u\ b-a-r-l-i-g-n-e {
    width: 100%;
  }
  .m-e-n-u\ b-a-r-image {
    width: auto;
    height: 100%;
  }
}
@media(max-width: 991px) {
  .m-e-n-u\ b-a-r-m-e-n-u-b-a-r {
    width: 100%;
    height: 5%;
    z-index: 100;
    min-width: auto;
    min-height: auto;
  }
  .m-e-n-u\ b-a-r-h-e-a-d-e-r {
    height: 100%;
    padding-top: 0px;
  }
  .m-e-n-u\ b-a-r-menu-gauche {
    top: 0px;
    left: 0px;
    width: 45%;
    bottom: 0px;
    height: 100%;
    margin: auto;
    max-width: auto;
  }
  .m-e-n-u\ b-a-r-container {
    width: 100%;
    align-self: center;
  }
  .m-e-n-u\ b-a-r-links-container {
    width: 100%;
    height: 100%;
    padding-left: 5%;
  }
  .m-e-n-u\ b-a-r-link {
    color: #ffffff;
    width: 40%;
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: 0px;
  }
  .m-e-n-u\ b-a-r-link1 {
    color: #ffffff;
    width: 30%;
    height: auto;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .m-e-n-u\ b-a-r-link2 {
    color: #ffffff;
    width: 30%;
    margin-right: var(--dl-space-space-unit);
  }
  .m-e-n-u\ b-a-r-l-i-g-n-e {
    width: 100%;
    align-self: center;
  }
  .m-e-n-u\ b-a-r-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 100%;
    margin: auto;
    position: absolute;
  }
  .m-e-n-u\ b-a-r-root-class-name4 {
    top: 0px;
    left: 0px;
    height: 3%;
    position: 0px;
  }
}
@media(max-width: 767px) {
  .m-e-n-u\ b-a-r-m-e-n-u-b-a-r {
    height: 5%;
    min-width: auto;
    min-height: auto;
  }
  .m-e-n-u\ b-a-r-h-e-a-d-e-r {
    height: 100%;
  }
  .m-e-n-u\ b-a-r-menu-gauche {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .m-e-n-u\ b-a-r-container {
    width: 100%;
    height: auto;
  }
  .m-e-n-u\ b-a-r-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: 4%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .m-e-n-u\ b-a-r-icon {
    fill: var(--dl-color-gray-white);
  }
  .m-e-n-u\ b-a-r-links-container {
    display: none;
  }
  .m-e-n-u\ b-a-r-l-i-g-n-e {
    width: 0%;
    height: 0px;
  }
  .m-e-n-u\ b-a-r-image {
    width: auto;
    height: 100%;
  }
  .m-e-n-u\ b-a-r-root-class-name4 {
    height: auto;
  }
}
@media(max-width: 320px) {
  .m-e-n-u\ b-a-r-m-e-n-u-b-a-r {
    height: 5%;
    min-width: auto;
    min-height: auto;
  }
  .m-e-n-u\ b-a-r-h-e-a-d-e-r {
    height: 100%;
    padding-top: 0px;
  }
  .m-e-n-u\ b-a-r-menu-gauche {
    width: 100%;
    height: auto;
    align-self: flex-start;
    padding-right: 0px;
    background-color: #000000;
  }
  .m-e-n-u\ b-a-r-container {
    width: 100%;
    height: auto;
    position: relative;
  }
  .m-e-n-u\ b-a-r-burger-menu {
    margin-left: 4%;
    background-color: #000000;
  }
  .m-e-n-u\ b-a-r-icon {
    fill: #ffffff;
  }
  .m-e-n-u\ b-a-r-mobile-menu {
    top: 0px;
    left: 0px;
    position: absolute;
    align-self: flex-start;
    background-color: #000000;
  }
  .m-e-n-u\ b-a-r-links-container {
    background-color: #000000;
  }
  .m-e-n-u\ b-a-r-l-i-g-n-e {
    width: 0px;
    height: 0px;
    padding-left: 10%;
  }
  .m-e-n-u\ b-a-r-image {
    width: auto;
  }
  .m-e-n-u\ b-a-r-root-class-name4 {
    top: 0px;
    left: 0px;
    position: 0px;
  }
}
